main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: -5rem;
    align-items: start;
    max-width: 100%;
}

#PRODUCTOStitulo {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7rem;
    /*esto cambiar*/
    font-size: 60px;
    font-weight: bold;
    color: #ca6969;

}

#mainP {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    background-color: #ffffff;

}
#separador{
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: #d0e6ca;
}

#listaProductos {
    width: 20%;
    height: 100%;
    min-width: 15rem;
    margin-top:5rem ;
    border: 3px solid #d6d6d6;
}

#listaProductos li {
    position: relative;
    color: #000;
    font-size: 18px;
    background-color: #ffffff;
    display: flex;
    height: 4.5rem;
    align-items: center;
    transition: scale 0.5s;
    transition: background-color .5s;
    transition: box-shadow .5s;
}
#listaProductos li:hover{
    z-index: 5;
    background-color: #f1c6c6 ;
    box-shadow: 5px 5px #888686;
    scale: 1.05;
}

#listaProductos input[type="checkbox"] {
    position: relative;
    height: 20px;
    width: 20px;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(168, 168, 168);
    transition: background-color 0.3s, border-color 0.3s;
    margin-left: 0.5rem;
}

#listaProductos input[type="checkbox"]:checked {
    background-color: #5a975c;
}

#listaProductos input[type="checkbox"]::before {
    content: "\1649";
    /* Código Unicode para la marca de verificación */
    font-size: 16px;
    color: #fff;
    /* Color de la marca de verificación cuando está marcado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#listaProductos input[type="checkbox"]:checked::before {
    opacity: 1;
}

.listas {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:  center;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: 1rem;
    cursor: pointer;
}

#contenedorProductos {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 0 1rem;
    margin: 0.5rem;
}

#buscadorProducto {
    direction: rtl;
    width: 100%;
    height: 80px;
}

#productosTotales {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    overflow-x: scroll;
    overflow-y:hidden;

}

.productosPagina {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.producto {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    border: #f8f8f8 solid  3px;
}

.producto:hover {
    background-color: #c9e7c9;
    box-shadow: 5px 5px teal;
    
}

.imagenProducto {
    width: 90%;
    /* Todo sera del 90 porciento*/
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcionProducto {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tipoProducto {
    font-size: 2rem;
}

.subtipoProducto {
    font-size: 1rem;
}

.valorProducto {
    font-size: 2rem;
}

.propiedadesProducto {
    font-size: 1.3rem;
}

/*Parte responsive*/

@media screen and (max-width: 1380px) {
    main {
        position: relative;
        width: 90%;
        display: flex;
        flex-direction: column;
        top: 0;
        align-items: start;
    }

    #PRODUCTOStitulo {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0rem;
        /*esto cambiar*/
        font-size: 60px;
        font-weight: bold;

    }

    #mainP {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

    }

    #listaProductos {
        width: 100%;
        height: auto;
        margin-left: 0rem;
        min-width: 100%;
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    #listaProductos li {
        position: relative;
        padding: 0.5rem;
        margin: 10px;
        color: #000;
        font-size: 16px;
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        gap: 0.5rem;
        height: auto;
        width: 100%;
    }

    #contenedorProductos {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        padding: 0 1rem 1rem 1rem;
        margin: 0rem;
    }


    
#productosTotales {
    position: relative;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 3.5%;
}

.productosPagina {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.producto {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10.2rem;
    height: 15rem;
    cursor: pointer;
    align-items: center;
}


.tipoProducto {
    font-size: 1.3rem;
}

.subtipoProducto {
    font-size: 1rem;
}

.valorProducto {
    font-size: 1rem;
}

.propiedadesProducto {
    font-size: 0rem;
}


}
/* PARTE DEL MODAL */

#modalBack{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #c5c5c591;
}
#modalItem{
    z-index: 11;
    position:fixed;
    top:50%;
    left: 50%;
    width: 65%;
    height: 70%;
    display: none; /*cambiar a none despues*/
    background: linear-gradient(to left,#d7ffd7,#ffffff);
    border: 3px solid #5a975c;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #888686;
    transform: translateX(-50%) translateY(-50%);    
    flex-direction: column-reverse;
}
#cerrarModal{
    z-index:5;
    position: absolute;
    width: 8%;
    height: 8%;
    min-width: 10rem;
    min-width: 5rem;
    border: none;
    top:0;
    right: 50%;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    transition: background-color .5s;
    font-size: 1em;
    border-radius: 100%;
}
#cerrarModal:hover{
    background-color: #ca6969;
}
#contenidoModal{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

}
#imagenPM{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#descripcionPM{
    width: 50%;
}
#descripcionPrecio{
    display: flex;
    width: 100%;
    height: 35%;
    text-align: center;
    color: #000;
    font-size: 5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}
#descripcionDistribuidores{
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}
#descripcionDistribuidores svg{
    width: 100rem;
}
#descripcionPropiedades{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
}

/**/
@media screen and (max-width: 840px) {
    main {
        position: relative;
        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        top: 0;
        align-items: start;
    }

    #listaProductos {
        width: 100%;
        height: auto;
        margin-left: 0rem;
        min-width: 100%;
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    #listaProductos li {
        position: relative;
        padding: 0.5rem;
        margin: 10px;
        color: #000;
        font-size: 16px;
        background-color: #ececec;
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        gap: 0.5rem;
        height: auto;
        width: 100%;
    }

    #productosTotales {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 10px);
        gap: 1rem;
    }

}

@media screen and (max-width: 523px) {
    #productosTotales {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}