main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: -5rem;
    align-items: start;
    max-width: 100%;
}

#PRODUCTOStitulo {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7rem;
    /*esto cambiar*/
    font-size: 60px;
    font-weight: bold;
    color: #ca6969;

}

#mainP {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    background-color: #ffffff;

}

#separador {
    position: absolute;
    width: 100%;
    height: 8rem;
    border: #f8f8f8 solid 3px;
    background-color: #f8f8f5;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 7.9rem;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    /* Añadido para el desplazamiento suave */
    gap: 5rem;
    padding: 0 2.5rem;
}
.btnMarcas {
    background-color: #ffffff;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #d6d6d6 solid 3px;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color .5s;
    transition: scale .5s;
}

.btnMarcas img {
    max-width: 100%;
    max-height: 100%;
    scale: 0.8;
}

.btnMarcas:hover {
    background-color: #dcf7e4;
    box-shadow: 5px 5px #98ac94;
    scale: 1.05;
}
#botonesSeparador{
    position: absolute;
    display: flex;
    width: 100%;
    top: 3.7rem;
}
.moverMarcas {
    z-index: 5;
    position:inherit;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: #ca6969;
    cursor: pointer;
}

.moverMarcas:focus {
    outline: none;
}

#moverMarcasDerecha {
    right: 0;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

#moverMarcasDerecha:hover {
    border: none;
    scale:1.1;
}

#moverMarcasIzquierda {
    left: 0;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

#moverMarcasIzquierda:hover {
    border: none;
    scale:1.1;
}

.contenedorInformacionProductos {
    position: relative;
    margin-top: 9rem;
}

#listaProductos {
    width: 20%;
    height: 100%;
    min-width: 15rem;
    border: #f8f8f8 solid 3px;
}

#listaProductos li {
    position: relative;
    color: #000;
    font-size: 18px;
    background-color: #ffffff;
    display: flex;
    height: 4.5rem;
    align-items: center;
    transition: scale 0.5s;
    transition: background-color .5s;
    transition: box-shadow .5s;
}

#listaProductos li:hover {
    z-index: 5;
    background-color: #f1c6c6;
    box-shadow: 5px 5px #888686;
    scale: 1.05;
}

#listaProductos input[type="checkbox"] {
    position: relative;
    height: 20px;
    width: 20px;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(168, 168, 168);
    transition: background-color 0.3s, border-color 0.3s;
    margin-left: 0.5rem;
}

#listaProductos input[type="checkbox"]:checked {
    background-color: #5a975c;
}

#listaProductos input[type="checkbox"]::before {
    content: "\1649";
    /* Código Unicode para la marca de verificación */
    font-size: 16px;
    color: #fff;
    /* Color de la marca de verificación cuando está marcado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#listaProductos input[type="checkbox"]:checked::before {
    opacity: 1;
}

.listas {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: 1rem;
    cursor: pointer;
}

#contenedorProductos {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    width: 80%;
    height: 100%;
    padding: 0 1rem;
}

#buscadorProducto {
    direction: rtl;
    width: 100%;
    height: 80px;
}

#productosTotales {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;

}

.productosPagina {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.producto {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: #f8f8f8 solid 3px;
    transition: all 0.5s;

}

.producto:hover {
    background-color: #c9e7c9;
    box-shadow: 5px 5px teal;

}

.imagenProducto {
    width: 90%;
    /* Todo sera del 90 porciento*/
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcionProducto {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tipoProducto {
    font-size: 2rem;
}

.subtipoProducto {
    font-size: 1rem;
}

.valorProducto {
    font-size: 2rem;
}

.propiedadesProducto {
    font-size: 1.3rem;
}

/* MODAL*/

/* PARTE DEL MODAL */

#modalBack {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #6380634f;
}

#modalItem {
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 70%;
    display: none;
    background: #fff;
    /*linear-gradient(to right,#ffffff,#eaf7ea,#ffffff);*/
    border-radius: 50px;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    justify-content: center;
}

#cerrarModal {
    z-index: 5;
    position: absolute;
    width: 8%;
    height: 8%;
    min-width: 10rem;
    min-width: 5rem;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #eb5b5b;
    color: #fff;
    font-weight: bold;
    transition: background-color .5s;
    font-size: 1em;
    border-radius: 10%;
}

#cerrarModal:hover {
    background-color: #ca6969;
}

#contenidoModal {
    position: relative;
    display: flex;
    width: 100%;
    height: 85%;

}

#imagenPM {
    position: relative;
    width: 50%;
    /* Usando vw para el ancho relativo a la ventana gráfica */
    height: 100%;
    /* Asegúrate de que el contenedor padre tenga una altura definida */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    /* Añadido para el desplazamiento suave */

}

.divImagenPM {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* Puedes considerar cambiarlo a porcentaje si es necesario */
    align-items: center;
    justify-content: center;
}

.divImagenPM img {
    position: relative;
    max-width: 80%;
    height: auto;
    /* Esto asegura que la imagen mantenga su proporción de aspecto */
    max-height: 35rem;
}

#izqMovilidad {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ffffff00;
    border: none;
}

#izqMovilidad svg {
    scale: 2.3;
}

#izqMovilidad svg:hover {
    scale: 2.8;
}

#derMovilidad {
    z-index: 1;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ffffff00;
    border: none;
}

#derMovilidad svg {
    scale: 2.3;
}

#derMovilidad svg:hover {
    scale: 2.8;
}

#descripcionPM {
    width: 50%;
}

#descripcionDistribuidores {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#descripcionDistribuidores img {
    width: 0;
    flex: 1;
    max-width: 15rem;
    height: auto;
}

#descripcionPropiedades {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#cabeceraTabla tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

#cabeceraTabla td {
    padding: 12px 15px;
    text-align: center;
    justify-content: center;
}

#cabeceraTabla tbody tr {
    border-bottom: 1px solid #dddddd;
}

#informacionTabla {
    background-color: #ecf0f1;
    /* Color de fondo para la información */
}

#informacionTabla td {
    border-bottom: 1px solid #dddddd;
    padding: 5px 7px;
    text-align: center;
    justify-content: center;
}



/*Parte responsive GENERAL LA PARTE GENERAL*/

@media screen and (max-width: 1380px) {
    main {
        position: relative;
        width: 90%;
        display: flex;
        flex-direction: column;
        top: 0;
        align-items: start;
    }

    #PRODUCTOStitulo {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0rem;
        /*esto cambiar*/
        font-size: 60px;
        font-weight: bold;

    }

    #mainP {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

    }

    #listaProductos {
        width: 100%;
        height: auto;
        margin-left: 0rem;
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    #listaProductos li {
        margin: 0;
    }

    #contenedorProductos {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        padding: 0 1rem 1rem 1rem;
        margin: 0rem;
    }

    #modalItem {
        width: 100%;
    }

    #productosTotales {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 3.5%;
    }

    .productosPagina {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .producto {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 10.2rem;
        height: 15rem;
        cursor: pointer;
        align-items: center;
    }


    .tipoProducto {
        font-size: 1.3rem;
    }

    .subtipoProducto {
        font-size: 1rem;
    }

    .valorProducto {
        font-size: 1rem;
    }

    .propiedadesProducto {
        font-size: 0rem;
    }

    #contenidoModal {
        position: relative;
        display: flex;
        width: 100%;
        height: 85%;
        flex-direction: column;
    }

    #imagenPM {
        position: relative;
        width: 100%;
        height: 50%;
    }

    .divImagenPM {
        width: 100%;
        height: 100%;
        /* Puedes considerar cambiarlo a porcentaje si es necesario */
        align-items: center;
        justify-content: center;
    }

    .divImagenPM img {
        position: relative;
        max-width: 80%;
        height: auto;
        /* Esto asegura que la imagen mantenga su proporción de aspecto */
        max-height: 15rem;
    }

    #izqMovilidad {
        top: 25%;
        left: 0;
    }

    #derMovilidad {
        top: 25%;
        right: 0;
        transform: translateY(-50%);
    }

    #descripcionPM {
        width: 100%;
        height: 50%;
    }

    #descripcionDistribuidores img {
        width: 0;
        flex: 1;
        max-height: 90%;
        max-width: 15rem;
        height: auto;
    }

    #descripcionPrecio {
        font-size: 3rem;
    }


}

/**/
@media screen and (max-width: 840px) {
    main {
        position: relative;
        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        top: 0;
        align-items: start;
    }
}
